{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>About</h1>
    <p class='text-muted'>Find code <a href="https://github.com/maxwrf/covid-19-pl">here</a></p>
    <h4>Resources and References:</h2>
        <ul>
            <li>https://towardsdatascience.com/infectious-disease-modelling-beyond-the-basic-sir-model-216369c584c4</li>
            <li>https://towardsdatascience.com/infectious-disease-modelling-beyond-the-basic-sir-model-216369c584c4</li>
            <li>https://www.kaggle.com/anjum48/seir-hcd-model</li>
            <li>https://www.kaggle.com/saga21/covid-global-forecast-sir-model-ml-regressions</li>
            <li>https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology</li>
            <li>https://www.youtube.com/watch?v=mwJXjxMTwAw&t=1129s</li>
            <li>https://en.wikipedia.org/wiki/Euler_method</li>
            <li>https://gitlab.com/dice89/python-plotting-api</li>
        </ul>
</div>
{% endblock content%}